# See http://help.github.com/ignore-files/ for more about ignoring files.

# API keys
.env

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

headers.json
data.json
/src/app/backend/scratch.js
mock-data.json
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
