# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# JSLint
tsconfig.json
tslint.json
/src/tsconfig.app.json
/src/tsconfig.spec.json
/src/tslint.json

# JSHint
.jshintrc

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

headers.json
data.json
/src/app/backend/scratch.js
mock-data.json
/e2e

# System Files
.DS_Store
Thumbs.db
